<%- include("layout/header") %>
<h1 class="neon">Lista de Productos</h1>
<div class="area_btn">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        agregar
      </button>
      <a href="/crud_office/crear" type="button" class="btn btn-primary">
        Adicionar
      </a>
      
    </div>
    <div class="table-responsive">
      <table class="table table-striped bg-dark">
        <thead class="columns">
          <td>#</td>
          <td>Nombre</td>
          <td>Descripcion</td>
          <td>Precio</td>
          <td>Cantidad</td>
          <td>imagen</td>
          <td>Accion</td>
        </thead>
        <tbody >
          <% productos.forEach(producto => { %>
          <tr class="columns">
            <td><%= producto.id %></td>
            <td><%= producto.nombre %></td>
            <td><%= producto.descripcion %></td>
            <td><%= producto.precio %> Bs</td>
            <td><%= producto.cantidad %></td>
            <td >
              <img class="img-thumbnail" width="100px" src="img/img_products/<%= producto.imagen %>" alt="<%= producto.imagen %>">
             
            </td>
            <td class="d-flex align-items-center justify-content-evenly">
              <div class="btn-grup-vertical" role="group" aria-label="Vertical button">
                <form class="form-inline" 
                action="/crud_office/editar/<%= producto.id %>" method="get">
                  <button class="btn btn-primary" type="submit">Editar</button>
                </form>
              </div>
              <div class="btn-grup-vertical" role="group" aria-label="Vertical button">
                <form class="form-inline" action="/crud_office/eliminar/<%= producto.id %>" method="post">
                  <button class="btn btn-danger" type="submit">Eliminar</button>
                </form>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <%- include("modal/crear_producto") %>
<%- include("layout/footer") %>